@font-face {
    font-family: mundial;
    src: url(../assets/Argentina\ World\ Cup\ 2022\ Font.ttf);
}

@font-face {
    font-family: parrafos;
    src: url(../assets/FuturaPTBook.otf);
}

/*---- variables de colores -----*/

$color-principal: #80C0DA;
$color-footer: #FDC232;

/*-----variables de fuentes----*/

$fuenteprincipal: mundial;
$fuenteparrafos: parrafos;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-principal;
}


.logo {
    font-family: mundial;
    margin-right: 5px;
    text-shadow: 2px;
    color: white;
    text-decoration: none;

}

.logo:hover {
    scale: 1.1;
    transition: all 0.9s;
    color: $color-footer;
}

.logo:visited {
    text-decoration: none;
}

.nav-item {
    font-family: $fuenteprincipal;
    color: white !important;

}

.nav-link:hover {
    scale: 1.1;
    transition: 0.2s;
    color: $color-principal !important;
}

.imagen-principal {
    height: 600px;
    width: 1fr;
    background-image: url(../assets/img/E6cfljZWYAAgAes.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.7);

}

.imagen-principal:hover {
    filter: brightness(1);
    transition: all 1s;

}

main {
    margin-bottom: 20px;
}

h1 {
    font-family: $fuenteprincipal;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    color: $color-footer;


}

.grid-index {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);


}


.grid-fanpage1 {
    grid-column: 1; 
    grid-row: 1;
    height: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;

}


.grid-fanpage2 {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../assets/img/mundial3.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    border-radius: 20px;
}

.grid-fanpage2:hover {
    scale: 1.1;
    transition: 0.9s;
}


.grid-fanpage3 {
    grid-column: 2;
    grid-row: 2;
    height: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;

}



.grid-fanpage4 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../assets/img/mundial6.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    border-radius: 20px;
}

.grid-fanpage4:hover {
    scale: 1.1;
    transition: 0.9s
}


p {
    font-family: $fuenteparrafos !important;
}

.parrafo-menu {
    font-size: x-large;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

b {
    font-family: $fuenteprincipal;
}

footer {
    background-color: black;
    justify-items: center;
    text-align: center;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 30px;

}

footer {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.links-footer {
    font-family: $fuenteparrafos !important;
    display: flex;
    justify-content: flex-start;
    color: white;
    text-decoration: none !important;
    margin: 30px;
}

.links-footer:visited {
    text-decoration: none !important;
}

.links-footer:hover {
    scale: 1.1;
    color: $color-footer;
    transition: 0.2s;
}

h4 {
    font-family: $fuenteprincipal;
    color: white;
}

.parrafo-footer {
    color: white;
    font-family: $fuenteparrafos;
}

h2 {
    font-family: $fuenteprincipal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: $color-footer;
    text-shadow: 5px black;
    padding: 10px 10px 10px 10px;
}

h3 {
    font-family: $fuenteprincipal;
    text-align: center;
    margin-top: 20px;
    background-color: $color-footer;
}

.lioScaloni {
    display: flex;
    justify-content: center;
    height: 300px;
}

.cuerpoTecnico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2, 400px
}

.cardaimar {
    grid-column: 1;
    grid-row: 1;
}

.cardsamuel {
    grid-column: 2;
    grid-row: 1;
}

.cardayala {
    grid-column: 1;
    grid-row: 2;
}

.cardtocalli {
    grid-column: 2;
    grid-row: 2;
}


.tocalli {
    background-image: url(../assets/img/tocalli.webp);
    background-size: cover;
    background-position: center;
    height: 300px;

}

.aimar {
    background-image: url(../assets/img/aimar_copa_bajo_el_brazo.jpg_242310155.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.samuel {
    background-image: url(../assets/img/walter-samuel_1440x810_wmk.webp);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.ayala {
    background-image: url(../assets/img/roberto-ayala_w862.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.card {
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.grid-jugadores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);

}

.messi {
    background-image: url(../assets/img/messi.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}


.dimaria {
    background-image: url(../assets/img/dimaria.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}


.dibu {
    background-image: url(../assets/img/dibu.avif);
    background-size: cover;
    background-position: center;
    height: 300px;
}


.otamendi {
    background-image: url(../assets/img/otamendi.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}


.cuti {
    background-image: url(../assets/img/cuti.webp);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.macallister {
    background-image: url(../assets/img/macallister.webp);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.btn {
    font-family: $fuenteprincipal;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
}

.btn:hover {
    transition: 0.5s;
    scale: 1.1;
}

.btn:visited {
    text-decoration: none;
    color: black;
}

.campeon1 {
    height: 600px;
    background-image: url(../assets/img/campeondeamerica.jpg);
    background-size: cover;
    background-position: center;
}

.campeon2 {
    height: 600px;
    background-image: url(../assets/img/argentinacampeonfinalissima.jpg);
    background-size: cover;
    background-position: bottom;
}


.campeon3 {
    height: 600px;
    background-image: url(../assets/img/argentinacampeondelmundo.jfif);
    background-size: cover;
    background-position: center;
}

.carrousel-titulos{
    color: black;
    padding: 20px;
}

.parrafo-titulos-scaloneta{
    background-color: $color-principal;

}

.grid-america {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
 grid-gap: 10px; 

}


.america-1 {
    background-image: url(../assets/img/foto1america.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.america-2 {
    background-image: url(../assets/img/foto2america.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);

    height: 300px;

}

.america-3 {
    background-image: url(../assets/img/foto3america.avif);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);

    height: 300px;

}

.america-4 {
    background-image: url(../assets/img/foto4america.avif);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);

    height: 300px;

}

.america-5 {
    background-image: url(../assets/img/foto6america.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);

    height: 300px;

}

.america-6 {
    background-image: url(../assets/img/campeondeamerica.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);

    height: 300px;

}

.america-1:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;

    height: 300px;
}

.america-2:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.america-3:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.america-4:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.america-5:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.america-6:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}


.qatar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 10px;

}


.qatar-1 {
    background-image: url(../assets/img/mundial1.webp);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.qatar-2 {
    background-image: url(../assets/img/mundial2.jpg_large);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.qatar-3 {
    background-image: url(../assets/img/mundial3.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.qatar-4 {
    background-image: url(../assets/img/mundial4.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.qatar-5 {
    background-image: url(../assets/img/mundial5.avif);
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.qatar-6 {
    background-image: url(../assets/img/mundial6.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.qatar-1:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.qatar-2:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.qatar-3:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.qatar-4:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.qatar-5:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.qatar-6:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}



.grid-finalissima {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 10px;

}


.finalissima-fotos1 {
    background-image: url(../assets/img/finalissima1.png);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.finalissima-fotos2 {
    background-image: url(../assets/img/finalissima2.avif);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.finalissima-fotos3 {
    background-image: url(../assets/img/finalissima3.avif);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.finalissima-fotos4 {
    background-image: url(../assets/img/finalissima4.webp);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.finalissima-fotos5 {
    background-image: url(../assets/img/finalissima5.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.finalissima-fotos6 {
    background-image: url(../assets/img/finalissima6.webp);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    height: 300px;

}

.finalissima-fotos1:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.finalissima-fotos2:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.finalissima-fotos3:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.finalissima-fotos4:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.finalissima-fotos5:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

.finalissima-fotos6:hover {
    transform: scale(1.05);
    transition: all 0.9s;
    filter: none;
}

section {
    margin-top: 30px;
    margin-bottom: 50px;
}

p {
    text-align: center;
    margin: 20px;
    font-size: large;
}



.subite1 {
    background-image: url(../assets/img/lospibesdelascaloneta.jpg);
    background-position: top;
    background-size: cover;
    height: 600px;
}

.subite2 {
    background-image: url(../assets/img/lascalonetaunida.avif);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.imagenes-grid-scaloneta {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 10px;
}

.origenes1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../assets/img/origenes1.jpg);
    background-position: top;
    background-size: cover;
    height: 400px
}

.origenes2 {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../assets/img/origenes2.jpg);
    background-position: center;
    background-size: cover;
    height: 400px
}

.origenes3 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../assets/img/origenes3.webp);
    background-position: top;
    background-size: cover;
    height: 400px
}

.origenes4 {
    grid-column: 2;
    grid-row: 2;
    background-image: url(../assets/img/origenes4.jpg);
    background-position: top;
    background-size: cover;
    height: 400px
}

.periodismo1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../assets/img/periodistas1.jpeg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.periodismo2 {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../assets/img/periodistas2.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.periodismo3 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../assets/img/periodistas4.jpg_large);
    background-position: top;
    background-size: cover;
    height: 400px;
}
.periodismo4 {
    grid-column: 2;
    grid-row: 2;
    background-image: url(../assets/img/periodistas5.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}


.consagracion1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../assets/img/finalissima4.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.consagracion2 {
    grid-column: 2;
    grid-row: 2;
    background-image: url(../assets/img/mundial1.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.consagracion3 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../assets/img/campeondeamerica.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.consagracion4 {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../assets/img/argentinacampeondelmundo.jfif);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.records1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../assets/img/records1.webp);
    background-position: top;
    background-size: cover;
    height: 400px;
}

.records2 {
    grid-column: 2;
    grid-row: 2;
    background-image: url(../assets/img/records2.jpg);
    background-position: top;
    background-size: cover;
    height: 400px;
}

.records3 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../assets/img/records3.webp);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.records4 {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../assets/img/records4.webp);
    background-position: top;
    background-size: cover;
    height: 400px;
}


.twitter-tweet {
    justify-content: center;
    margin: 0 auto;
}

.fa-brands{ 
    color: white
}

.fa-brands:visited{
    text-decoration: none;
}

.fa-brands:hover{
    color: $color-footer;
    transition: 0.2s;
    scale: 1.1;
}
.redes-scaloneta {
    font-size: 40px;
display: flex;
justify-content: space-around;
margin: 50px;
text-decoration: none;
}





@media only screen and (max-width: 758px) {
    .grid-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);


    }

    .grid-fanpage1 {
        grid-column: 1;
        grid-row: 1;
        height: 600px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;

    }

    .grid-fanpage2 {
        background-image: url(../assets/img/mundial3.jpg);
        grid-column: 1;
        grid-row: 2;
        background-position: center;
        background-size: cover;
        height: 600px;
        border-radius: 20px;

    }

    .grid-fanpage2:hover {
        scale: 1.1;
        transition: 0.9s;
    }

    .grid-fanpage3 {
        grid-column: 1;
        grid-row: 4;
        height: 600px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }

    .grid-fanpage4 {
        grid-column: 1;
        grid-row: 3;
        background-image: url(../assets/img/mundial6.jpg);
        background-position: center;
        background-size: cover;
        height: 600px;
        border-radius: 20px;

    }

    .grid-fanpage4:hover {
        scale: 1.1;
        transition: 0.9s
    }


}

@media only screen and (max-width: 990px) {
    .cuerpoTecnico {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 400px);
    }


    .grid-jugadores {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 400px);

    }
}